@import "tailwindcss";

:root {
    --background: #fccee8;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
}

.confetti-particle {
    position: absolute;
    --c: #fb64b6;
    width: 30px;
    aspect-ratio: 1;
    background: radial-gradient(at 70% 31%, var(--c) 29%, #0000 30%),
        radial-gradient(at 30% 31%, var(--c) 29%, #0000 30%),
        conic-gradient(from -45deg at 50% 84%, var(--c) 90deg, #0000 0)
            bottom/100% 50% no-repeat;
}

/* img zoom scroll */
.img-wrap {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.overflow-wrap {
    position: relative;
    width: 0;
    height: 0;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        object-fit: contain;
    }
}

/* img zoom scroll */

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

/* 3d scroll */
.container-3d {
    width: 100%;
    display: flex;
    align-items: top;
    justify-content: center;

    .cards {
        position: relative;
        width: 90%;
        margin: 0 auto;
    }
    .card {
        position: relative;
        margin: 50px auto;
        width: 100%;
        height: auto;
    }

    img {
        max-width: 100%;
        width: 100%;
        height: 100dvh;
        object-fit: cover;
        will-change: transform, filter;
    }
}

.spacer {
    height: 80vh;
    position: relative;
}

.following-content {
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 3d scroll */
